/*-----MAIN-----*/
html {
  box-sizing: border-box;
}

body {
  position: relative;
  font:sans-serif;
}

html, body{
	height: 100%;
}

.footer-section {
	background:url("https://i.pinimg.com/564x/64/fa/fd/64fafd29c83a15e786a65a0b1d553554.jpg"); 
	opacity: 30%;
	height:175px; margin-top:50px; margin-bottom:0px; padding:0 0; border-top: 1px solid #eee;
}

.logo-id{
	transition: transform 0.5s ease-out;
	transform: scale(1);
}

.larger {
transform: scale(0.6);
}

.img-responsive{
	width: 100%
}

.nav-link{
	color:grey;
}


#current-page{
	font-weight: bold;
	color:pink;
	text-decoration: underline;
}

.title{
	color:rgb(220,0,31);
	font-size: 14px;
	text-align: center;
	line-height: 80%;
	top: 10px;
	position: relative;
	width: 100%;
	height: 40px;
	margin: auto;
}


.hover {
    position: relative;
    width: 50%;
}

.navbar-collapse{
	display: none;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover:hover .image {
  opacity: 0.3;
}

.hover:hover .middle {
  opacity: 1;
}

.fa{
	margin-right:10px;
}

.text {
  background-color: pink;
  color: white;
  font-size: 14px;
  padding: 16px;
}

.paragraph{
	font-size:16px;
	color:rgb(220,0,31);
}

@media screen and (min-width: 650px){
	nav li{
		display: inline-block;
	}
	nav ul{
		text-align: center;
	}
}

@media screen and (min-width: 1000px){
	nav ul{
		float:right;
	}
	nav li{
		padding-top: 6%
	}

	.logo{
		float: left;
		margin:1%;
	}
}