/*-----MAIN-----*/
html {
  box-sizing: border-box;
}

body {
  position: relative;
}

html, body{
	height: 100%;
}

section {
	background:url("https://i.pinimg.com/564x/64/fa/fd/64fafd29c83a15e786a65a0b1d553554.jpg"); 
	opacity: 30%
}

@media screen and (min-width: 650px){
	nav li{
		display: inline-block;
	}
	nav ul{
		text-align: center;
	}
}

@media screen and (min-width: 1000px){
	nav ul{
		float:right;
	}
	nav li{
		padding-top: 6%
	}

	.logo{
		float: left;
		margin:1%;
	}
}

.img-responsive{
	width: 100%
}